/* variables */

:root {
  --text-color: rgba(255, 255, 255, 1);
  --panel-bg: rgba(0, 0, 0, 1);
  --header-height: 50px;
  --margin-medium: 20px;
  --margin-large: 40px;
  --margin-small: 10px;
  --red: rgba(143, 19, 19, 1);
  --content-min-height: 350px;
  --border-color: rgba(255, 255, 255, 0.7);
  --transparent: rgba(255, 255, 255, 0);
  --desktop-cover-size: 350px;
  --shadow-basic: 1px 1px 2px black, -1px -1px 20px black;
  --lineheight: 2;
  --fs-heading: 5em;
  --fs-desc: 1.6em;
  --fs-icons: 3em;
  --border-icons: 4px;
}

body {
  padding: 0;
  margin: 0;
  color: var(--text-color);
  font-family: 'Manrope', sans-serif;
  display: grid;
  background-color: rgba(0, 0, 0, 1);
  height: 100vh;
  grid-template-columns: 10% 10% 60% 10% 10%;
  grid-template-rows: 10% auto 10%;
}

header {
  align-self: center;
  height: var(--header-height);
  background-color: var(--transparent);
  grid-column: 1/6;
  grid-row: 1/2;
  justify-self: center;
}

.fa-github {
  margin-right: var(--margin-small);
}

ul.header-links-list, ul.footer-links-list {
  list-style: none;
}

ul.header-links-list {
  animation: textAppear 2s ease;
}

ul.footer-links-list {
  animation: textAppearBottom 2s ease;
}

.header-links-list>li, .footer-links-list>li {
  display: inline-block;
  padding: var(--margin-small) var(--margin-medium);
  cursor: pointer;
  position: relative;
  height: 100%;
  text-transform: uppercase;
}

.header-links-list>li a, .header-links-list>li a:visited, .footer-links-list>li a, .footer-links-list>li a:visited {
  color: white;
  text-decoration: none;
  padding: var(--margin-small) var(--margin-medium);
  border-radius: 26px;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.header-links-list>li:not(:last-child), .footer-links-list>li:not(:last-child) {
  margin-right: var(--margin-medium);
}

.header-links-list>li:hover a, .header-links-list>li a:focus, .footer-links-list>li:hover a, .footer-links-list>li a:focus {
  outline: none;
  position: relative;
  color: black !important;
  z-index: 2;
  border-radius: 20px;
  background-color: var(--border-color);
}

footer {
  background-color: var(--panel-bg);
  grid-column: 1/6;
  grid-row: 3/4;
  justify-self: center;
  align-self: center;
  overflow: hidden;
}

main {
  position: relative;
  grid-column: 2/5;
  grid-row: 2/3;
  align-self: center;
}

.bg-layout {
  animation: bgAppear 1s ease-in-out;
  flex: 1;
  opacity: 0.5;
  background: url(./bg-cover.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.content {
  text-shadow: var(--shadow-basic);
}

.heading {
  /* text-align: center; */
  font-family: 'Manrope', sans-serif;
  line-height: var(--lineheight);
  font-weight: 800;
  font-size: var(--fs-heading);
  animation: textAppear 2s ease;
  margin-top: var(--margin-medium);
}

.description {
  margin-top: var(--margin-large);
  margin-bottom: var(--margin-large);
  animation: textAppear 3s ease;
  font-size: var(--fs-desc);
}

.description .slash {
  font-size: 0.7em;
  margin: 0px var(--margin-small)
}

.contact-links {}

.contact-links-list {
  list-style-type: none;
  display: flexbox;    
}


.contact-links-list>li a, .contact-links-list>li a:visited {
  color: white;
  text-decoration: none;
  font-size: var(--fs-icons);
  margin: var(--margin-medium);
  padding: var(--margin-medium);
  border: var(--border-icons) solid white;
  border-radius: 250px;
  width: calc(var(--margin-medium) *3.2);
  height: calc(var(--margin-medium) * 3.2);
  text-align: center;
}

.contact-links-list>li a:hover, .contact-links-list>li a:focus {}

.hidden {
  display: none;
}

@keyframes linkSpread {
  0% {
      opacity: 0;
      color: white;
  }
  100% {
      opacity: 1;
      color: black;
  }
}

@keyframes bgAppear {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 0.5;
  }
}

@keyframes textAppear {
  0% {
      opacity: 0;
  }
  55% {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes textAppearBottom {
  0% {
      opacity: 0;
  }
  55% {
      transform: translate3d(0, 100%, 0);
      opacity: 0;
  }
  100% {
      transform: translate3d(0, 0, 0);
      opacity: 1;
  }
}

@keyframes gradAnim {
  0% {
      background-position: 0% 92%
  }
  50% {
      background-position: 100% 9%
  }
  100% {
      background-position: 0% 92%
  }
}

@keyframes disappear {
  0% {
      opacity: 1;
  }
  99% {
      opacity: 0;
  }
  100% {
      visibility: hidden;
  }
}

/* Adaptive */

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  :root {
      --margin-medium: 4px;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  :root {
      --margin-small: 2px;
      --margin-medium: 6px;
      --margin-large: 8px;
      --shadow-basic: none;
      --lineheight: 1.2;
      --fs-heading: 3em;
      --fs-desc: 1.2em;
  }
  .description .slash {
      font-size: 0.6em;
      margin: 0px var(--margin-small);
  }
  .fa-github {
      margin-right: var(--margin-large);
  }
}