.phlcom-main {
    min-height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto minmax(min-content, max-content) auto;
    grid-gap: 24px;
}